<p id="notice"><%= notice %></p>

&nbsp; <%= image_tag "teams.jpg" %>
<p></p>

<table>
  <thead>
    <tr>
      <th>&nbsp; Home</th>
      <th></th>
      <th></th>
      <th>Away</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td>&nbsp; <%= result.home %> &nbsp; </td>
        <td><%= result.hg %> - </td>
        <td><%= result.ag %> &nbsp; </td>
        <td><%= result.away %> &nbsp; </td>
        <td><%= result.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
&nbsp; <%= link_to 'Back', :back %>