&nbsp;<%= image_tag "logo_banner.png" %>
<!-- website logo displayed at top of the page -->
<p></p>

<nav class="navbar navbar-light bg-light">
  <!-- light navbar at top of page using bootstrap -->
  <a class="navbar-brand" href="/">Home</a>
  <!-- button to return to home page -->
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/matches/index" role="button">
      Fixtures
    </a>
    <!-- button which directs user to the fixtures page -->
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/fixtures/index" role="button">
        Results
      </a>
      <!-- button which directs user to the results page -->
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" href="/tables/index" role="button">
        League Tables
      </a>
      <!-- button which directs user to the league tables page -->
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-info" href="/welcome/contact" role="button">
        Contact Us
      </a>
      <!-- button which directs user to the contact us page -->
    </div>
  </form>
</nav>

<p></p>
&nbsp; <%= image_tag "fixtures.png" %>
<!-- display matchweek image -->

<p></p>
<table>
  <thead>
    <tr>
      <th>&nbsp; Home</th>
      <th> </th>
      <th>Away</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!-- column headings for home team, away team and date -->

  <tbody>
    <% @matches.each do |match| %>
    <!-- loop through each match in the database and
      display the teams seperated with a V along dates in a neat format -->
      <tr>
        <td>&nbsp; <%= match.home %> &nbsp; </td>
        <td>V &nbsp; </td>
        <td><%= match.away %> &nbsp; </td>
        <td><%= match.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>